body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  padding: 20px;
  color: #353535;
}

.header h1,
.header h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}
.map {
  width: 90vw;
  height: 90vh;
  position: relative;
  margin-bottom: 20px;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.card {
  width: 90vw;
  position: relative;
}

.card-header {
  border: 1px solid #353535;
  background-color: #353535;
  color: #fff;
  padding: 0px 10px;
}

.card-body {
  border: 1px solid #d9d9d9;
  padding: 5px;
}
.card-content-item {
}
